body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color:#f1f1f1;
}

hr {
    font-size: 3rem;
}

.navbar-brand {
    font-family: 'Sacramento', cursive;
    color: #424246 !important;
    font-size: 3rem;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

.nav-item {
    font-size: 1.2rem;
}

.title-container {
    padding: 5%;
    margin-bottom: 2%;
}

.title-container h1 {
    text-align: center;
    font-weight: bolder;
    line-height: 1.5;
    font-weight: 400;
    color: #212121;
}

.title-container p {
    margin-top: 7%;
    color: #424246;
}

.title-btns {
    text-align: center;
    margin: 7% 0;
}

.title-btns button {
    margin: 2% 4%;
}

.title-col-img {
    text-align: center;
}

.title-img {
    width: 75%;
}

.footer {
    text-align: center;
    color: #f1f1f1;
    background-color: #bbb6b6;
    padding: 3rem;
}

.footer a {
    text-decoration: none;
    color: #f1f1f1;
}

.footer i {
    margin: 0 2%;
}

.footer i:hover {
    color: #424246;
}

.footer p {
    text-decoration: none;
    color: #f1f1f1;
    margin-top: 2rem;
}

/* Text Fade */

.textShineBlack {
    background: linear-gradient(to right, #000 20%, #3e7a8c 30%, #3e7a8c 70%, #000 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;
    animation: textShine 60s ease-in-out infinite alternate;
  }
  
  @keyframes textShine {
    to {
      background-position: 200%;
    }
  }