body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color:#f1f1f1;
}

hr {
    border-top-width: 0.5rem;
    border-style: none;
    border-top-style: dotted;
    width: 10%;
}

.header {
    font-family: 'Questrial', sans-serif;
    font-size: 4rem;
    text-align: center;
    margin: 2% 0;
    color: #cf455c;
    padding: 0 5%;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

.nav-item {
    font-size: 1.2rem;
}

.active {
    font-weight: bolder;
}

.title-container {
    padding: 3% 5%;
    margin-bottom: 2%;
}

.title-container h1 {
    text-align: center;
    font-weight: bolder;
    line-height: 1.5;
    font-weight: 400;
    color: #212121;
}

.title-container p {
    margin-top: 7%;
    color: #424246;
}

.title-btns {
    text-align: center;
    margin: 7% 0;
}

.title-btns button {
    margin: 2% 4%;
}

.title-col-img {
    text-align: center;
}

.title-img {
    width: 75%;
}

.footer {
    text-align: center;
    color: #f1f1f1;
    background-color: #bbb6b6;
    padding: 3rem;
}

.footer a {
    text-decoration: none;
    color: #f1f1f1;
    margin-top: 5rem;
}

.footer i {
    margin: 2% 3%;
}

.footer i:hover {
    color: #424246;
}